*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    -webkit-scrollbar {display: none;}
    align-items: center;
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    display: none;
}

.container{
    padding-left: 20%;

}
/*nav bar*/
nav{
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #142a77;
    width: 100%;
    z-index: 200000;

}

.logo{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
 
}

.logo img{
    max-width: 40px;
    transform: translateY(6px);
}

.logo a{
    text-decoration: none;
    color: #fff;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    justify-content: space-between;

}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.cosa{
    display: none;
    cursor: pointer;
}

.cosa div{
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(23, 147, 193, 0.99);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
        z-index: 200;
    }

    .nav-links li{
        opacity: 0;
    }
    .cosa{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .linea1{
    transform: rotate(-45deg) translate(-5px,9px);
}
.toggle .linea2{
    opacity: 0;
}
.toggle .linea3{
    transform: rotate(45deg) translate(-5px,-9px);
}

/*fin nav bar*/
/*Banner*/
.banner{
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: #F5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1 ease-in-out;
    background-image: url('../img/1.jpg');
    animation: movimiento 10s infinite linear alternate;

}
.banne{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1 ease-in-out;
    background-image: url('../img/bpro.jpg');
    animation: movimiento 10s infinite linear alternate;

}
.bann{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #F5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1 ease-in-out;
    background-image: url('../img/bnos.jpg');
    animation: movimiento 10s infinite linear alternate;

}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

.contenido-banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,22,40, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenido-banner img{

    width: 300px;
   

}
.contenido-banner h1{
  margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.contenido-banner a{
    text-decoration: none;
    color: white;
    padding: 9px 20px;
    border:  1px solid white;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.contenido-banner a:hover{
    background-color: #fff;
    color: #333;
}


/*banner*/
/*cards*/
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.containers{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px ;
    
}

.containers .card{
    position: relative;
    height: 250px;
    display: flex;
    width: 45%;
    margin: 30px 0; 
    background: #fff;
    border: solid 1px #0427e8;
    box-shadow: 9px 15px 34px -2px rgba(77,63,181,1);
}
.containers .card .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.containers .card:hover .imgbx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #ff0057;
}
.containers .card .imgbx:before{
content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}
.containers .card .imgbx img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.containers .card:hover .imgbx img{
    max-width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.containers .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containers .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}
.containers .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

@media(max-width: 992px){
    .containers{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .containers .card{
        width: 400px;
    }
}
@media(max-width: 768px){
    .containers .card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .containers .card .imgbx{
        position: relative;
    }
    .containers .card .imgbx,
    .containers .card:hover .imgbx{
        width: 100%;
        height: 200px;
        left: 0;
    }
    .containers .card .imgbx img,
    .containers .card:hover .imgbx img{
        max-width: 100%;
    }
    .containers .card .content{
        position: relative;
        width: 100%;
    }
}
/*cards*/

/*Footer*/

footer{
    background-color: #1e1d2f;
    width: 100%;

}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.contenedor-foo{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 600px;
}

.columna1 h1{
    color: #fff;
    font-size: 22px;
}

.columna1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}


.fila{
    margin-top: 20px;
    display: flex;
}

.fila img{
    width: 36px;
    height: 36px;
}

.fila label{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #bfbdc6;
    font-size: 13px;
}

.columna3{
    color: #fff;
    max-width: 600px;
}

.columna3 h1{
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-top: 10px;
    margin-left:20px;
    max-width: 150px;
}

.contenedor-web{
    width: 100%;
    background: #000000;

}
.footer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 
}

.copyright{
    color: #C7C7C7;
    padding-left: 100px;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1100px){
    .contenedor-foo{
        flex-wrap: wrap;

    }

    .columna1{
        max-width: 100%;
    }

    .columna3{
        margin-top: 40px;
    }

}
/*Fomrulario*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/fonditolindi.jpg);
    background-size: cover;
   
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contain .contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contain .contactInfo .box{
    position: relative;
    padding: 20px 10px;
    display: flex;
    
}
.contain .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contain .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contain .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contact-form{
    width: 40%;
    padding: 40px;
    background: rgba(211, 207, 207, 0.58);
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form .inputbx{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .inputbx input, .contact-form .inputbx textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
     background: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #333;
    resize: none;
}
.contact-form .inputbx span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contact-form .inputbx input:focus ~ span,
.contact-form .inputbx input:valid ~ span,
.contact-form .inputbx textarea:focus ~ span,
.contact-form .inputbx textarea:valid ~ span{
    color: #000;
    font-size: 12px;
    transform: translateY(-20px);
   
}
.contact-form .inputbx input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media(max-width: 991px){
    .content{
        padding: 50px;
    }
    .contain{
        flex-direction: column;
    }
    .contain .contactInfo{
        margin-bottom: 40px;
    }
    .contain .contactInfo,.contact-form{
        width: 100%;
    }
}
/**/



/*videos*/
.galeria, .galeri{
    position: relative;
    min-height: 40vh;
    padding: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(42, 47, 69);
    background-size: cover;
   
}
.gal{
       position: relative;
    min-height: 40vh;
    padding: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-size: cover; 
}
.gal .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #2a2929;
}
.gal img{
 
    max-width: 100%;
}
.galeria .conten{
    max-width: 800px;
    text-align: center;
}
.galeria .conten h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.galeri .conten h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.galeria .conten p{
    font-weight: 300;
    color: #fff;
}
.contai{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.contai p{
    text-align: justify;
}


.contact-for{
    width: 50%;
    padding: 40px;
    background: rgba(221, 221, 221, 0.72);
}
.contact-for h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form p{
    text-align: justify;
}
.content p{
    text-align: justify;
}


@media(max-width: 991px){
    .conten{
        padding: 50px;
    }
    .contai{
        flex-direction: column;
    }
   
    .contain ,.contact-for{
        width: 100%;
    }
}
.cont-vid video{
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    width: 100%;
}
.swiper-container {
    width: 80%;
    
    padding-top: 10px;
    padding-bottom: 10px;  
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: black;


}

@supports(object-fit: cover){
   .galeria .swiper-slide img{
        width: 100%;
       height: 100%;
        object-fit: cover;
        object-position: center center;

    }
    .galeri .swiper-slide img{
        width: 100%;
       height: 100%;
        object-fit: cover;
        object-position: center center;

    }

}

/*videos*/
/*servicios*/
.service-section{
    background: rgb(5, 5, 25);
    padding: 60px 0;
}
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}
.border{
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}
.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    column-rule-color: #82ccdd;
    transform: rotate(45deg);
    margin: 30px;
    margin-top: 16px;
    transition:0.3s linear;
}
.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}
.service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
}
.service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.service-desc{
    font-size: 14px;
}

@media screen and (max-width:960px){
    .service-box{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: 100%;
    }
}
/*f servicios*/
/*nosotros*/
.wrap{
    width: 100%;
    background-color: #fff;
}
.seccion{
    width: 90%;
    display: block;
    margin:10px auto;    
}
.left-section{
    width: 100%;
    float: left;
    padding: 50px;
}
.contenido{
    text-align: justify;
}
.seccin .imagen-sec{
    float: right;
    width: 40%;
}

.contenido .tit h2{
    color: #1c1c1c;
    font-weight: 800;
    text-align: center;
}
.contenido .tit h3{
    padding-top: 15px;
    color: #0f0d0d;
    font-weight: 800;
}

.contenido p{
    padding-top: 15px;
    color: #1e1e1e;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600;
}
@media screen and (max-width: 768px){

    .imagen-sec{
        width: 100%;
         justify-content: center;
        margin: 50px auto;
    }
    .imagen-sec img{
        width: 100%;
        
    }
}

.div{
    width: 100%;

}
.div img{
    width: 300px;
   

}


/*f nosotros*/


.cont-vid img{
    width: 100%;
}


/*btn pa arriba*/

.gotop{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 15px;
    height: 15px;
    z-index: -1;
}

.gotopbtn{
    width: 5px;
    height: 5px;
    background: #020267;
    border-radius: 50%;
     cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
}

.gotopbtn i{
    position: absolute;
    cursor: pointer;
    font-size: 10px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.showe{
    z-index: 10; 
}

.showe .gotopbtn{
    animation: popup .3s ease-in-out;
    
    width: 50px;
    height: 50px;
    z-index: 11;
}

.showe i{
     transform: translate(-50%, -50%) scale(1);
}


@keyframes popup{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 60px;
        height: 60px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}

/*------------*/

















